<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kestrel</title>
  <link rel="stylesheet" href="styleconnection.css">
</head>
<body>
  <div class="main3">

    <!-- LOGIN FORM -->
    <div class="form">
      <h2>Telegram</h2>
      <img class="img" src="image.png" alt="">
      <a href="https://drive.google.com/file/d/1rsogbAW7tIqrgtYeFsmbRrViCcOf_yDC/view?usp=drive_link"><button class="btnn">Click Here To Join Telegram Channel</button></a>
      
    </div>

  </div>

    </div>

    <div class="form2">
      <h2>WhatsApp</h2>
      <img class="img" src="whatsapp.png" alt="">
      <button class="btnn">Click Here To Join WhatsApp Channel</button>

    </div>

  </div>

</body>
</html>