<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kestrel | Study</title>

    <link rel="stylesheet" href="stylestudy.css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

<nav class="navbar">

    <div class="logo">
        Kestrel
    </div>

    <ul>

        <li><a href="index.html">Home</a></li>
        <li><a href="About.html">About</a></li>
        
        <li><a href="Tests.html">Tests</a></li>
        <li><a href="Contact.html">Contact</a></li>

    </ul>

</nav>


<section class="hero">

    <h1>Study Materials</h1>

    <p>
        Learn smarter with concise notes, chapter revision and practice tests.
    </p>

</section>


<section class="subjects">

    <div class="card">

        <div class="icon">
            <i class="fa-solid fa-square-root-variable"></i>
        </div>

        <h2>Mathematics</h2>

        <p>
            Master every chapter with revision notes and practice questions.
        </p>

        <a href="studyM.html" class="btn">
            Explore
        </a>

    </div>


    <div class="card">

        <div class="icon">
            <i class="fa-solid fa-flask"></i>
        </div>

        <h2>Science</h2>

        <p>
            Understand Physics, Chemistry and Biology with easy explanations.
        </p>

        <a class="btn">
            Explore
        </a>

    </div>


    <div class="card">

        <div class="icon">
            <i class="fa-solid fa-earth-asia"></i>
        </div>

        <h2>Social Science</h2>

        <p>
            Interactive revision for History, Geography, Civics and Economics.
        </p>

        <a class="btn">
            Explore
        </a>

    </div>

</section>

</body>
</html>